{
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "include": [
    "**/*.js"
  ],
  "exclude": [
    "test/*",
    "Gruntfile.js",
    "lib/reporter.js",
    "playground/*.js"
  ],
  "require": [
    "babel-register"
  ],
  "all": true,
  "sourceMap": false,
  "instrument": false
}
