{
  "reporter": [
    "lcov",
    "text"
  ],
  "include": [
    "**/shift-engine/**/*.js"
  ],
  "exclude": [
    "**/*.spec.js",
    "**/playground/*",
    "**/coverage",
    "**/test",
    "**/dist"
  ],
  "require": [
    "babel-register"
  ],
  "all": true,
  "sourceMap": false,
  "instrument": false
}
