{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "env": {
    "build": {
      "ignore": ["**/*.spec.js"]
    }
  }
}
